<div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="addProduct();">Add Product </button>
    </div>
  </div>
  <div>
    <br />
  </div>
  <div class="row">
    <ag-grid-angular style="height: 400px; width:700px"
                     class="ag-theme-alpine"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [pagination]=true
                     [paginationPageSize]="10"
                     [frameworkComponents]="frameworkComponents"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
